.container {
  border: 2px black solid;
  width: 20em;
  /* height: 500px; */
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0px 40px rgba(0, 0, 0, 0.09);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 26px;
  text-align: center;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  font-size: 20px;
  width: 100px;
  height: 40px;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3a86ff;
  box-shadow: 0 5px #4433ff;
}
.btn:hover {
  box-shadow: 0 3px #4433ff;
  top: 1px;
}
.btn:active {
  box-shadow: 0 0 #4433ff;
  top: 5px;
}

.error {
  transition: all 0.3s ease;
  box-shadow: none;
}
.error:hover {
  box-shadow: none;
  background-color: red;
}

.error:active {
  box-shadow: none;
  background-color: red;
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em red;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.counter {
  border: 2px solid black;
  border-radius: 5px;
  width: 50px;
  text-align: center;
  margin: 20px auto;
}

.refresh {
  margin: 0 auto;
  margin-bottom: 10px;
}
